<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Be Speaker</h3>
                    </div>
                    <div class="card-body p-0">
                        <form @submit.prevent="createSpeaker()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="topic_name"
                                   placeholder="Topic Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('topic_name') }">
                            
                        </div>
                        <div class="form-group">
                            <textarea name="topic_desc" class="form-control" rows="3" placeholder="Topic Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="topic_file">Upload File(only pdf)</label>
                            <input type="file" name="topic_file" class="form-control">   
                        </div>
                        <div class="form-group">
                             <label for="trend">Choose Trend <span class="req-fd"> *</span></label>
                            <div>
                             <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Trend Name</th>
                                <th>Trend Description</th>
                                <th>Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="trend in trends" :key="trend.id">
                                <td>{{trend.trend_name | uptext}} </td>
                                <td>{{trend.trend_description}}</td>
                                <td>
                                
                                    <a href="#" @click="selectTrend(trend.id)">
                                        <i class="fa fa-select "></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                            
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" @click="newTrend" >Create New Trand</button>
                        </div>
                        <div class="form-group">
                             <label for="topic_type" >Choose Topic Type <span class="req-fd"> *</span></label>
                            <div>
                            <select class="form-control" name="topic_type">
                                <option>20 Minutes Topic</option>
                                <option>45 Minutes Topic</option>
                            </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                             <label for="prefer_room" >Prefer Room <span class="req-fd"> *</span></label>
                            <div>
                            <select class="form-control" name="prefer_room">
                                <option>Room 1</option>
                                <option>Room 2</option>
                            </select>
                            </div>
                        </div>
                          <div class="form-group">
                             <label for="prefer_time" >Prefer Time <span class="req-fd"> *</span></label>
                            <div>
                            <select class="form-control" name="prefer_time">
                                <option>9:00 AM - 9:20 AM</option>
                                <option>9:20 AM - 9:40 AM</option>
                            </select>
                            </div>
                            <br>
                            <button class="btn btn-success" @click="addSpeakerModal" >Add Prefer Room and Time</button>
                        </div>
                         <label for="prefer_time" >Prefer Room and Time (Limited 5)<span class="req-fd"> *</span></label>
                        <div class="table-responsive p-0">
                        <table class="table table-hover">
                             <thead>
                             <tr>
                                <th>Parity</th>
                                <th>Room</th>
                                   <th>Time</th>
                                   <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                 <td>Room 1</td>
                                   <td>9:00 AM - 9:20 AM</td>
                                 <td>
                                    <a href="#" @click="">
                                        <i class="fa fa-trash "></i>
                                    </a>
</td>
</tr>
      <tr>
                                <td>2</td>
                                 <td>Room 1</td>
                                   <td>9:20 AM - 9:40 AM</td>
                                 <td>
                                    <a href="#" @click="">
                                        <i class="fa fa-trash "></i>
                                    </a>
</td>
</tr>
                            </tbody>
                        </table>
                    </div>

                        <div class="form-group">
                            <button class="btn btn-success" @click="addSpeakerModal" >Add Speaker</button>
                        </div>

                        <div class="table-responsive p-0">
                        <table class="table table-hover">
                             <thead>
                             <tr>
                                <th>Name</th>
                                <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Speaker 2</td>
                                 <td> <a href="#" @click="">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    /
                                    <a href="#" @click="">
                                        <i class="fa fa-trash "></i>
                                    </a>
</td>
</tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Confirm</button>
                    </div>
                    </form>
                    </div>
                </div>
            </div>   
        </div>


         <!-- Trend Modal -->
        <div class="modal fade" id="addTrendModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add New Trend</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createTrend">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.trend_name" type="text" name="trend_name"
                                   placeholder="Trend Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('trend_name') }">
                            <has-error :form="form" field="trend_name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.trend_description" type="text" name="trend_description"
                                   placeholder="Trend Description"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('trend_description') }">
                            <has-error :form="form" field="trend_description"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
         <!-- Add Speaker Modal -->
        <div class="modal fade" id="addSpeakerModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add Speaker</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addSpeaker()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                   placeholder="Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.email" type="text" name="email"
                                   placeholder="E-mail"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.password" type="password" name="password" id="password"
                                   placeholder="Password"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-success" >Update</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
        data(){
            return{
                users : {},
                trends : {},
                form : new Form({
                    id : '',
                    name : '',
                    email :'',
                    password : '',
                    trend_name : '',
                    trend_description : ''
                }),
                 options2: [{
                    text: "name1",
                    value: "value1"
                    }, {
                    text: "name2",
                    value: "value2"
                    }, {
                    text: "name3",
                    value: "value3"
                    }],
                     result2: "",
                editMode : false
            }
        },
        methods: {
            createSpeaker(){
                //
            },
            selectTrend(){
                //
            },
            newTrend(){
                this.form.clear();
                this.form.reset();
                $('#addTrendModal').modal('show');
            },
             addSpeaker(){
                this.form.clear();
                this.form.reset();
                $('#addSpeakerModal').modal('show');
            },
              addSpeakerModal(){
                this.form.clear();
                this.form.reset();
                $('#addSpeakerModal').modal('show');
            },
            loadTrand(){
                 axios.get('api/trend').then(({ data }) => (this.trends = data.data));
            },
            createTrend () {
                this.$Progress.start();
                this.form.post('api/trend')
                .then(()=>{
                    
                    $('#addTrendModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'Trend created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadTrand();
         Fire.$on('AfterCreate',() => {
             this.loadTrand();
         })
        }
    }
</script>
