<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>1500 </h3>

                        <p>Barcamper</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                      <router-link to="/barcamper" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>50 </h3>

                        <p>Topics</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-comments"></i>
                    </div>
                      <router-link to="/topics" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>50 </h3>

                        <p>Speakers</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-ninja"></i>
                    </div>
                     <router-link to="/speaker" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>50 </h3>

                        <p>Trands</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-list-ul"></i>
                    </div>
                     <router-link to="/populartrand" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </router-link>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">15.2.2019 Confirm Topic Board for 20 minutes</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                 
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>9:00 AM - 9:20 AM</td>
                        <td>Room 1</td>
                        <td>Bala Bala</td>
                        <td>Speaker 1</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">15.2.2019 Confirm Topic Board for 45 minutes</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
               
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>Room</th>
                        <th>Topic</th>
                        <th>Speaker</th>
                        <th>Detail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>183</td>
                        <td>John Doe</td>
                        <td>11-7-2014</td>
                        <td><span class="tag tag-success">Approved</span></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</template>

<!--<script>-->
<!--    export default {-->
<!--        // mounted() {-->
<!--        //     console.log('Component mounted.')-->
<!--        // }-->
<!--    }-->
<!--</script>-->
