<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Day Setup</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click="newModel" > <i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                           <tr v-for="barcamp_day in barcamp_days" :key="barcamp_day.id">
                                <td>{{barcamp_day.barcamp_day}} </td>
                                <td>
                                    <a href="#" @click="editModel(barcamp_days)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    /
                                    <a href="#" @click="deleteBarcampDay(barcamp_day.id)">
                                        <i class="fa fa-trash "></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="editMode" class="modal-title" id="addModalLabel">Edit Day</h5>
                        <h5 v-show="!editMode" class="modal-title" id="addModalLabel">Add New Day</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateBarcampDay() : createBarcampDay()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.barcamp_day" type="date" name="barcamp_day"
                                   placeholder="Day"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('barcamper_day') }">
                            <has-error :form="form" field="barcamper_day"></has-error>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-success" >Update</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                barcamp_days : {},
                form : new Form({
                      id : '',
                    barcamp_day : ''
                }),
                editMode : false
            }
        },
        methods: {
            updateBarcampDay(){
                this.$Progress.start();
                this.form.put('api/barcampday/'+this.form.id)
                .then(()=>{
                    swal.fire(
                        'Updated!',
                        'Barcamp Day has been updated.',
                        'success'
                    );
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide');
                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });
            },
            editModel(barcamp_day){
                this.editMode = true;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
                this.form.fill(barcamp_day);
            },
            newModel(){
                this.editMode = false;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
            },
            deleteBarcampDay(id){
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/barcampday/'+id)
                        .then(()=>{                
                            swal.fire(
                            'Deleted!',
                            'Barcamp Day has been deleted.',
                            'success'
                            );
                             Fire.$emit('AfterCreate');
                        })
                     .catch(()=>{
                            swal("Failed","There was something wrong","warning");
                        });
                    }
                })
            },
            loadBarcampDay(){
                axios.get('api/barcampday').then(({ data }) => (this.barcamp_days = data.data));
            },
            createBarcampDay () {

                this.$Progress.start();
                this.form.post('api/barcampday')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'Barcamper created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadBarcampDay();
         Fire.$on('AfterCreate',() => {
             this.loadBarcampDay();
         })
        }
    }
</script>
