<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">My Topics</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click="newModel" > <i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                           <thead>
                            <tr>
                             <th>Date</th>
                             <th>Time</th>
                                <th>Room</th>
                                 <th>Topic Name</th>
                               
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                   <td>15.2.2020</td>
                                   <td>9:00 AM - 9:20 AM</td>
                                <td>Room 1</td>
                                   <td>Topic 1</td>
                              
                                       <td>Confirmed</td>
                                 
</tr>
 <tr>
 <td>15.2.2020</td>
                                     <td>4:00 AM - 9:20 AM</td>
                                <td>Room 3</td>
                                   <td>Topic 2</td>
                                       <td>Unconfirmed</td>
                                 
</tr>
 <tr>
 <td>16.2.2020</td>
                                     <td>4:00 AM - 9:20 AM</td>
                                <td>Room 3</td>
                                   <td>Topic 2</td>
                                       <td>Pending</td>
                                 
</tr>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="editMode" class="modal-title" id="addModalLabel">Edit Barcamper</h5>
                        <h5 v-show="!editMode" class="modal-title" id="addModalLabel">Add New Barcamper</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateBarcamper() : createBarcamper()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.name" type="text" name="name"
                                   placeholder="Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.email" type="text" name="email"
                                   placeholder="E-mail"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.password" type="password" name="password" id="password"
                                   placeholder="Password"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                            <has-error :form="form" field="password"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-success" >Update</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                users : {},
                form : new Form({
                    id : '',
                    name : '',
                    email :'',
                    password : ''
                }),
                editMode : false
            }
        },
        methods: {
            updateBarcamper(){
                this.$Progress.start();
                this.form.put('api/barcamper/'+this.form.id)
                .then(()=>{
                    swal.fire(
                        'Updated!',
                        'Barcamper has been updated.',
                        'success'
                    );
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide');
                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });
            },
            editModel(user){
                this.editMode = true;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
                this.form.fill(user);
            },
            newModel(){
                this.editMode = false;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
            },
            deleteBarcamper(id){
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/barcamper/'+id)
                        .then(()=>{                
                            swal.fire(
                            'Deleted!',
                            'Barcamper has been deleted.',
                            'success'
                            );
                             Fire.$emit('AfterCreate');
                        })
                     .catch(()=>{
                            swal("Failed","There was something wrong","warning");
                        });
                    }
                })
            },
            loadBarcamper(){
                axios.get('api/barcamper').then(({ data }) => (this.users = data.data));
            },
            createBarcamper () {
                this.$Progress.start();
                this.form.post('api/barcamper')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'Barcamper created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadBarcamper();
         Fire.$on('AfterCreate',() => {
             this.loadBarcamper();
         })
        }
    }
</script>
