<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Room Setup</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click="newModel" > <i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                           <tr>
                                <th>Room Name</th>
                                 <th>Abailabe Person</th>
                                <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="room in rooms" :key="room.id">
                                <td>{{room.room_name | uptext}} </td>
                                <td>{{room.available_person}}</td>
                                <td>
                                    <a href="#" @click="editModel(room)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    /
                                    <a href="#" @click="deleteBarcampRoom(room.id)">
                                        <i class="fa fa-trash "></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="editMode" class="modal-title" id="addModalLabel">Edit Barcamp Room</h5>
                        <h5 v-show="!editMode" class="modal-title" id="addModalLabel">Add New Barcamp Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateBarcampRoom() : createBarcampRoom()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.room_name" type="text" name="room_name"
                                   placeholder="Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('room_name') }">
                            <has-error :form="form" field="room_name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.available_person" type="text" name="available_person"
                                   placeholder="Abaialbe Person"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('available_person') }">
                            <has-error :form="form" field="available_person"></has-error>
                        </div>
                      
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-success" >Update</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                rooms : {},
                form : new Form({
                    id : '',
                    room_name : '',
                    available_person :''
                }),
                editMode : false
            }
        },
        methods: {
            updateBarcampRoom(){
                this.$Progress.start();
                this.form.put('api/barcamproom/'+this.form.id)
                .then(()=>{
                    swal.fire(
                        'Updated!',
                        'BarcampRoom has been updated.',
                        'success'
                    );
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide');
                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });
            },
            editModel(room){
                this.editMode = true;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
                this.form.fill(room);
            },
            newModel(){
                this.editMode = false;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
            },
            deleteBarcampRoom(id){
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/barcamproom/'+id)
                        .then(()=>{                
                            swal.fire(
                            'Deleted!',
                            'BarcampRoom has been deleted.',
                            'success'
                            );
                             Fire.$emit('AfterCreate');
                        })
                     .catch(()=>{
                            swal("Failed","There was something wrong","warning");
                        });
                    }
                })
            },
            loadBarcampRoom(){
                axios.get('api/barcamproom').then(({ data }) => (this.rooms = data.data));
            },
            createBarcampRoom () {
                this.$Progress.start();
                this.form.post('api/barcamproom')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'BarcampRoom created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadBarcampRoom();
         Fire.$on('AfterCreate',() => {
             this.loadBarcampRoom();
         })
        }
    }
</script>
