<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Speaker Rule</h3>
                    </div>
                    <div>
                    There are Speaker Rule
                    </div>
                   <div>
                     <input type="checkbox" @click="accepted" class="btn btn-secondary" data-dismiss="modal">Accept</input>
                   </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                         <router-link to="/bespeaker" v-show="accept" class="btn btn-primary">
                                 Accept
                                </router-link>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</template>

<script>
  export default {
        data(){
            return{
                accept : false
            }
        },
        methods: {
            accepted(){
              if (this.accept == false)
              {
                  this.accept = true;
               }
               else{
                    this.accept = false;
               } 
            },
            unaccepted(){
                this.accept = false;
            },       
        },
        created() {
         //
        }
    }
</script>
