<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Topic Type Setup</h3>
                        <div class="card-tools">
                            <button class="btn btn-success" @click="newModel" > <i class="fa fa-user-plus"></i></button>
                        </div>
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                             <tr>
                                <th>Name</th>
                                <th>Duration</th>
                                <th>Break Time</th>
                                <th>Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                             <tr v-for="topic_type in topic_types" :key="topic_type.id">
                                <td>{{topic_type.topic_type_name}} </td>
                                <td>{{topic_type.duration}}</td>
                                <td>{{topic_type.break_time}}</td>
                                <td>
                                    <a href="#" @click="editModel(topic_type)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    /
                                    <a href="#" @click="deleteTopicType(topic_type.id)">
                                        <i class="fa fa-trash "></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="editMode" class="modal-title" id="addModalLabel">Edit Topic Type</h5>
                        <h5 v-show="!editMode" class="modal-title" id="addModalLabel">Add New Topic Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editMode ? updateTopicType() : createTopicType()">
                    <div class="modal-body">
                        <div class="form-group">
                            <input v-model="form.topic_type_name" type="text" name="topic_type_name"
                                   placeholder="Name"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('topic_type_name') }">
                            <has-error :form="form" field="topic_type_name"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.duration" type="text" name="duration"
                                   placeholder="Duration (Minutes)"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('duration') }">
                            <has-error :form="form" field="duration"></has-error>
                        </div>
                        <div class="form-group">
                            <input v-model="form.break_time" type="text" name="break_time"
                                   placeholder="Break Time (Minutes)"
                                   class="form-control" :class="{ 'is-invalid': form.errors.has('break_time') }">
                            <has-error :form="form" field="break_time"></has-error>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button v-show="editMode" type="submit" class="btn btn-success" >Update</button>
                        <button v-show="!editMode" type="submit" class="btn btn-primary" >Create</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                topic_types : {},
                form : new Form({
                    id : '',
                    topic_type_name : '',
                    duration :'',
                    break_time : ''
                }),
                editMode : false
            }
        },
        methods: {
            updateTopicType(){
                this.$Progress.start();
                this.form.put('api/topictype/'+this.form.id)
                .then(()=>{
                    swal.fire(
                        'Updated!',
                        'TopicType has been updated.',
                        'success'
                    );
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide');
                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });
            },
            editModel(topic_type){
                this.editMode = true;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
                this.form.fill(topic_type);
            },
            newModel(){
                this.editMode = false;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
            },
            deleteTopicType(id){
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/topictype/'+id)
                        .then(()=>{                
                            swal.fire(
                            'Deleted!',
                            'TopicType has been deleted.',
                            'success'
                            );
                             Fire.$emit('AfterCreate');
                        })
                     .catch(()=>{
                            swal("Failed","There was something wrong","warning");
                        });
                    }
                })
            },
            loadTopicType(){
                axios.get('api/topictype').then(({ data }) => (this.topic_types = data.data));
            },
            createTopicType () {
                this.$Progress.start();
                this.form.post('api/topictype')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'TopicType created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadTopicType();
         Fire.$on('AfterCreate',() => {
             this.loadTopicType();
         })
        }
    }
</script>
