<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                        <button class="btn btn-success" @click="newModel" > 15.2.2019</button>
                         <button  style="float: right;" class="right btn btn-success" @click="newModel" > 16.2.2019</button>
                <br>
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">15.2.2019 Confirm Topic Board for 20 minutes</h3>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Room</th>
                                <th>Topic</th>
                                <th>Speaker</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>9:00 AM - 9:20 AM</td>
                                <td>Room 1</td>
                                <td>Topic 1</td>
                                <td>Speaker 1</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            <tr>
                                <td>9:00 AM - 9:20 AM</td>
                                <td>Room 2</td>
                                <td>Topic 2</td>
                                <td>Speaker 2</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                                    <tr>
                                <td>9:20 AM - 9:40 AM</td>
                                <td>Room 1</td>
                                <td>Topic 3</td>
                                <td>Speaker 3</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            <tr>
                                <td>9:20 AM - 9:40 AM</td>
                                <td>Room 2</td>
                                <td>Topic 4</td>
                                <td>Speaker 4</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">15.2.2019 Pending Topic Board for 20 minutes</h3>


                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                              <thead>
                            <tr>
                                <th>Time</th>
                                <th>Room</th>
                                <th>Topic</th>
                                <th>Speaker</th>
                                 <th>Points</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>9:00 AM - 9:20 AM</td>
                                <td>Room 1</td>
                                <td>Topic 5</td>
                                <td>Speaker 5</td>
                                <td>20</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>
                                </td>
                            </tr>
                            <tr>
                                <td>9:00 AM - 9:20 AM</td>
                                <td>Room 2</td>
                                <td>Topic 6</td>
                                <td>Speaker 6</td>
                                 <td>19</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                                    <tr>
                                <td>9:20 AM - 9:40 AM</td>
                                <td>Room 1</td>
                                <td>Topic 7</td>
                                <td>Speaker 7</td>
                                 <td>18</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            <tr>
                                <td>9:20 AM - 9:40 AM</td>
                                <td>Room 2</td>
                                <td>Topic 8</td>
                                <td>Speaker 8</td>
                                 <td>17</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5  class="modal-title" id="addModalLabel">Topic Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                    <div class="modal-body">
                        <div class="form-group">
                        <h5  class="modal-title" id="addModalLabel">Topic 5</h5>
                                <!--   <h6  class="modal-title" id="addModalLabel">Topic Confirmed </h6>-->
                                   <h6  class="modal-title" id="addModalLabel">Topic in Pending </h6> 
                                        <h6  class="modal-title" id="addModalLabel">Points : 20 </h6>
                        </div>
                          <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Time : 9:00 AM - 9:20 AM</h6>
                        </div>
                          <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Room : Room 5</h6>
                        </div>
                        <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Speaker : Speaker 5</h6>
                        </div>
                           <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Trend : Trend 1</h6>
                        </div>
                            <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Description : Description 1</h6>
                        </div>

                                <div class="form-group">
                                 <h6  class="modal-title" id="addModalLabel">* vote only one topic for overall slot like 9:00 to 10:00 *</h6>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-success" >Vote</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
