<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Voted History</h3>
                
                    </div>


                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Topic Name</th>
                                <th>Speaker </th>
                                <th>Voted Time</th>
                                <th>Topic Status</th>
                                   <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Topic 4</td>
                                <td>Speaker 4</td>
                                <td>15.2.2020 08:00 AM</td>
                                <td>Pending</td>
                                <td>
                                    <button class="btn btn-success" data-toggle="modal" data-target="#detailModal"> <i class="fa fa-info-circle"/></button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>


            </div>
        </div>

        <!-- Detail Modal -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5  class="modal-title" id="addModalLabel">Topic Detail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                    <div class="modal-body">
                        <div class="form-group">
                        <h5  class="modal-title" id="addModalLabel">Topic 4</h5>
                                 <!--  <h6  class="modal-title" id="addModalLabel">Topic Confirmed </h6>-->
                                    <h6  class="modal-title" id="addModalLabel">Topic in Pending </h6>
                                        <h6  class="modal-title" id="addModalLabel">Points : 20 </h6>
                        </div>
                          <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Time : 9:00 AM - 9:20 AM</h6>
                        </div>
                          <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Room : Room 1</h6>
                        </div>
                        <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Speaker : Speaker 1</h6>
                        </div>
                           <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Trend : Trend 1</h6>
                        </div>
                            <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">Description : Description 1</h6>
                        </div>

                                <div class="form-group">
                                     <h6  class="modal-title" id="addModalLabel">* One vote for one topic *</h6>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--  <button type="submit" class="btn btn-success" >Vote</button>-->
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                users : {},
                form : new Form({
                    id : '',
                    name : '',
                    email :'',
                    password : ''
                }),
                editMode : false
            }
        },
        methods: {
            updateBarcamper(){
                this.$Progress.start();
                this.form.put('api/barcamper/'+this.form.id)
                .then(()=>{
                    swal.fire(
                        'Updated!',
                        'Barcamper has been updated.',
                        'success'
                    );
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide');
                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });
            },
            editModel(user){
                this.editMode = true;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
                this.form.fill(user);
            },
            newModel(){
                this.editMode = false;
                this.form.clear();
                this.form.reset();
                $('#addModal').modal('show');
            },
            deleteBarcamper(id){
                swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/barcamper/'+id)
                        .then(()=>{                
                            swal.fire(
                            'Deleted!',
                            'Barcamper has been deleted.',
                            'success'
                            );
                             Fire.$emit('AfterCreate');
                        })
                     .catch(()=>{
                            swal("Failed","There was something wrong","warning");
                        });
                    }
                })
            },
            loadBarcamper(){
                axios.get('api/barcamper').then(({ data }) => (this.users = data.data));
            },
            createBarcamper () {
                this.$Progress.start();
                this.form.post('api/barcamper')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addModal').modal('hide')

                    toast.fire({
                        icon: 'success',
                        title: 'Barcamper created is successfully'
                    })

                    this.$Progress.finish();
                })
                .catch(()=>{
                    swal("Failed","There was something wrong","warning");
                    this.$Progress.fail();
                });

            }
        },
        created() {
         this.loadBarcamper();
         Fire.$on('AfterCreate',() => {
             this.loadBarcamper();
         })
        }
    }
</script>
